main{
    padding-top: 130px;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0 20px 25px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
}
.admin hr{
    width: 96%;
    height: 2px;
    background: black;
    border: none;
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    row-gap: 5px;
}
form span{
    font-weight: 500;
}
input{
    padding: 10px;
    margin-bottom: 3px;
}

.event_add_div input{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.8vw;
    min-height: 30px;
    border-radius: 5px;
    border: none;
    background:#3978ff;
    color: white;
    font-size: max(0.6em, 0.8vw);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.event_delete{
    background-color: rgb(209, 0, 0);
}
.event_edit{
    background-color: rgb(15, 165, 15);
}
section{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.events-list{
    width: 40%;
}
.event{
    padding: 10px;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.82);
    margin: 0 0 25px 0;
    cursor: pointer;
    border-radius: 5px;
}
.event a{
    color: black;
    font-size: max(0.8em, 0.9vw);
    font-weight: 500;
}
.event-control-buttons form input{
    border:none;
    margin: 2px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: max(0.7em, 0.7vw);
    font-weight: 700;
}
.event-control-buttons{
    margin-top: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.expert-fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.coordinator{
    padding: 10px;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.82);
    margin: 0 0 25px 0;
    border-radius: 5px;
}
.coordinator span{
    font-weight: 500;
}
textarea{
    resize: vertical;
    padding: 10px;
}
#mainContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
    margin-left: 15px;
}
.section_add{
    padding: 10px;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.82);
    margin: 0 0 25px 0;
    border-radius: 5px;
}
.simposium_name{
    padding:5px; 
    font-weight: 500;
}
.section_div{
    background: rgb(255, 255, 255); 
    width:90%; 
    padding:10px; 
    border-radius:5px;
}
@media (max-width:768px) {
    section{
        flex-direction: column;
        align-items: center;
    }
    form{
        width: 80%;
    }
    .events-list{
        width: 80%;
    }
}