main{
    padding-top: 130px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
}
input{
    padding: 10px;
    margin-bottom: 5px;
}
section{
    display: flex;
    justify-content: space-between;
}
.events-list{
    width: 40%;
}
.event{
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 5px;
    cursor: pointer;
}
.event-control-buttons form input{
    border:none;
    margin: 2px;

    color:white;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}
.event-control-buttons{
    margin-top: 5px;

    align-items: center;
    display: flex;
    justify-content: space-between;
}
