main{
    padding-top: 130px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
}
input{
    padding: 10px;
    margin-bottom: 5px;
}
section{
    display: flex;
    justify-content: space-between;
}
.events-list{
    width: 40%;
}
.event{
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 5px;
    cursor: pointer;
}