main{
    padding: 0;
    display: flex;
    width: 100vw;
    height: 90vh;
}
.auto_section{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.auto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.auto_form{
    display: flex;
    row-gap: 15px;
    flex-direction: column;
}
.info_input{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    row-gap: 10px;
}
.info_input input{
    border-radius: 5px;
    width: 180px;
    height: 20px;
    padding: 0 8px;
    border: 1px solid rgb(112, 112, 112);
}
input[type='submit']{
    margin-top: 30px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(112, 112, 112);
}
input[type='submit']:hover{
    background-color: rgb(221, 220, 220);
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
}